.header{
    border: 2px solid red;
}

.hello {
    color: red;
}

body{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grid{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin-bottom: 3rem;
    background-color: aquamarine;

    .miss{
        background-color: grey;
    }
}

.container{

    display: flex;
    justify-content: space-between;
    margin: 1rem;
    gap: 4rem;

}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed rgba(0, 13, 255, 0.58);
}